.title-style {
    text-transform: uppercase;
    color: var(--main-text-color);
    font-weight: normal;
}

.paragraph-style {
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
}

.icon-list-color {
    color: #8f8f92;
}

.text-gary {
    color: gray;
}

.icon-size {
    font-size: 30px;
}

.line {
    margin: 10px 0px;
    width: 100%;
    height: .5px;
    background-color: #8f8f92;
}