@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-text-color: #737373;
    --icon-link-color: #8f8f92;
    --main-color: #e74c3c
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Amatic SC', cursive; */
    /* background-color: #f0f0f0; */
}

/* Scrolling box style  */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* ----------------- Header ------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nav Bar  */

.logo a {
    font-size: 30px;
}

.header .container .links ul li {
    font-size: 20px;
}


.fixed-submenu {
    list-style: none;
    display: none;
    position: absolute;
    left: 105%;
    top: 0px;
    z-index: 9999;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px !important;
}

.fixed-submenu.show {
    display: block;
}

.dropdown-item {
    background-color: transparent !important;
    color: black !important;
}


.links ul>li>a.active {
    border-bottom: 2px solid red !important;
    padding-bottom: 4px;
}

.toggle .bar i {
    font-size: 35px;
    cursor: pointer;
}

/* ----------------- Main ------------------- */

/* Home Section */
.home {
    min-height: 100vh;
    padding-top: 80px;
}

.home-title {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}

.home-description {
    font-size: 23px;
    color: var(--main-text-color);
}

.btn-outline-danger {
    color: black;
    text-decoration: none;
}

.btn-outline-danger i {
    color: red;
    font-size: 18px;
    border: 3px solid red;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
}

.btn-outline-danger:hover {
    color: red;
}

.home-img img {
    animation: floatUpDown 3s ease-in-out infinite;
}


/* About Section */
.about {
    overflow: hidden;
}

.about-middle-section .btn {
    display: block;
    width: 55%;
    margin: auto;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 25px;
    padding: 8px 20px;
}

.about-middle-section .btn:hover {
    background-color: white;
    color: red;
}

.about-middle-section .about-icon {
    background-color: rgba(255, 0, 0, 0.05);
    padding: 20px;
    border-radius: 50%;
    color: red;
    font-size: 30px;
    transition: all .8s ease;
}

.about-middle-section .item-inner:hover .about-icon {
    background-color: red;
    color: white;
}

.about-middle-section .row-equal {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.about-middle-section .about-item {
    display: flex;
    padding: 0.5rem;
}

.about-middle-section .item-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-middle-section .content {
    flex: 1;
}

.about-btn {
    color: white;
    width: 75% !important;
    transition: all .8s ease;
}


/* State Section  */
.stats-section {
    background-image: url("../img/stats-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 150px 20px;
}

.stats-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.stats-section .container {
    position: relative;
    z-index: 2;
}

/*----------------------------------------------------------  comment ------------------------------------------------------------- */

/* Menu Section */
#menu {
    overflow: hidden !important;
}

.btn {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: border-bottom 0.3s ease;
}

.active-menu {
    border-bottom: 2px solid red;
}

#menu .btn:hover {
    border-bottom: 2px solid red;
}

#menu .col-lg-4 {
    margin: 10px auto;
    text-align: center;
}

#menu img {
    max-width: 200px;
    border-radius: 10px;
}

#menuContainer {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#menuContainer.fade-out {
    opacity: 0;
}


/* Testimonials Section */
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;

}

.testimonials .testimonial-item .testimonial-content {
    border-left: 3px solid #ce1212;
    padding-left: 30px;
}

.testimonials .testimonial-item .testimonial-img {
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: color-mix(in srgb, #212529, transparent 40%);
    margin: 0 0 10px 0;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: color-mix(in srgb, #ce1212, transparent 50%);
    font-size: 26px;
    line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
    font-style: italic;
}

.testimonials .swiper-wrapper {
    height: auto;
}

.testimonials .swiper-pagination {
    margin-top: 30px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: color-mix(in srgb, #212529, transparent 85%);
    opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ce1212;
}

/* Event Section  */
.events {
    margin-top: 30px;
}

.events .container-fluid {
    padding: 0;
}

.events .event-item {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding: 30px;
}



.events .event-item:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.events .event-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #ffffff;
    position: relative;
}

.events .event-item .price {
    color: #ffffff;
    border-bottom: 2px solid #ce1212;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
}

.events .event-item .description {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.events .swiper-wrapper {
    height: auto;
}

.events .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.events .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: color-mix(in srgb, #212529, transparent 85%);
    opacity: 1;
}

.events .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ce1212;
}


/* Chefs Section */
.chefs .team-member {
    background-color: #ffffff;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
}

.chefs .team-member .member-img {
    position: relative;
    overflow: hidden;
}

.chefs .team-member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: color-mix(in srgb, #ffffff, transparent 60%);
    z-index: 2;
}

.chefs .team-member .social a {
    transition: color 0.3s;
    color: color-mix(in srgb, #212529, transparent 50%);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}

.chefs .team-member .social a:hover {
    color: #212529;
}

.chefs .team-member .social i {
    font-size: 18px;
}

.chefs .team-member .member-info {
    padding: 10px 15px 20px 15px;
}

.chefs .team-member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;

}

.chefs .team-member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: color-mix(in srgb, #212529, transparent 50%);
}

.chefs .team-member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;

}

.chefs .team-member {
    transform: scale(1);
}

.chefs .team-member:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}

.chefs .team-member:hover .social {
    right: 8px;
    opacity: 1;
}

.img-container {
    position: relative;
    width: 100%;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wave path {
    fill: white;
}

.book-a-table .reservation-img {
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

/* Book A Table Section  */
.book-a-table form {
    padding: 30px;
}

.book-a-table form input[type=text],
.book-a-table form input[type=email],
.book-a-table form input[type=number],
.book-a-table form input[type=date],
.book-a-table form input[type=time],
.book-a-table form textarea {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
    color: #212529;
    background-color: color-mix(in srgb, #ffffff, transparent 20%);
}

.book-a-table button {
    margin-top: 25px;
    color: white;
    background: var(--main-color);
    padding: 14px 60px;
    outline: .5px solid var(--main-color);
    box-shadow: 0px 0px 10px var(--main-color);
    border-radius: 10px !important;
    transition: all .3s ease;
    border: none;
}

.book-a-table button:hover {
    color: var(--main-color);
    background-color: transparent;
}

/* Gallery Section  */
.gallery {
    overflow: hidden;
}

.gallery .swiper-wrapper {
    height: auto;
}

.gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
    background-color: color-mix(in srgb, #212529, transparent 85%);
    border: 0;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ce1212;
    opacity: 1;
}

.gallery .swiper-slide-active {
    text-align: center;
}

/* Contact Section  */
.input-data:focus {
    border-color: #ce1212;
    box-shadow: none !important;
}

/* ----------------- Footer ------------------- */
footer {
    background-color: rgb(31, 31, 36);
}

.social li,
.social .icon-list-color {
    transition: all .8s ease;
}

.social li {
    outline: 1px solid #888;
}

.social li:hover {
    outline: 1px solid #ce1212;
    color: red !important;
    cursor: pointer;
}

.social li:hover .icon-list-color {
    color: #ce1212 !important;
}



/* Animation here */
@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-35px);
    }
}

/* Write Media Queries for responsiveness Here  */

@media screen and (max-width: 1200px) {
    .why-us {
        align-self: start !important;
    }

}

@media screen and (max-width: 992px) {

    /* At Nav Bar  */
    .toggle .bar i {
        display: inline-block !important;
    }

    .header .links {
        display: none;
        width: 100vw;
        position: absolute !important;
        top: 100%;
        left: 0%;
        background-color: #f0f0f0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 9999;
    }

    .links>ul {
        position: static !important;
        display: block !important;
        padding: 0px 20px;
        width: 100% !important;
        height: 100% !important;

    }

    .links ul li {
        margin-bottom: 8px;
        padding: 2px;
    }

    .links ul li a {
        display: inline-block;
        width: 100%;
    }

    .dropdown-menu {
        margin-bottom: 25px !important;
        position: static !important;
        width: 100% !important;
        background-color: #f2f2f2;
    }

    .dropdown-submenu {
        position: static !important;
    }

    .dropdown-submenu .fixed-submenu {
        display: none !important;
        position: static !important;
        margin-left: 1rem;
        margin-top: .5rem;
        width: 90% !important;
        background-color: #f4f4f4;
    }

    .fixed-submenu.show {
        display: block !important;
    }

    .display-links {
        display: block !important;
    }

    .home-title {
        font-size: 50px;
    }

    .home-description {
        font-size: 18px;
    }

    .home-img img {
        width: 100%;
        height: auto;
    }

    .booktable-1 {
        display: none;
    }

    .booktable-2 {
        display: inline-block !important;
    }

    .home .video {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }



    .gallery .swiper-wrapper {
        padding: 40px 0;
    }

    .gallery .swiper-slide-active {
        background: #ffffff;
        border: 6px solid #ce1212;
        padding: 4px;
        z-index: 1;
        transform: scale(1.2);
        transition: none;
    }
}

@media (min-width: 992px) {
    .gallery .swiper-wrapper {
        padding: 40px 0;
    }

    .gallery .swiper-slide-active {
        background: #ffffff;
        border: 6px solid #ce1212;
        padding: 4px;
        z-index: 1;
        transform: scale(1.2);
        transition: none;
    }
}

@media (max-width: 575px) {
    .events .event-item {
        min-height: 500px;
    }

    .book-a-table form {
        padding: 20px;
    }

    .book-a-table form {
        padding: 20px;
    }
}